.contact-form > form {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* justify-content: center; */
     /* margin-left: 450px;  */
    gap: 0.5rem;
    position: relative;
  }
  .contact-form{
    text-align: left;
  }
  form > input {
    padding: 2%;
    width: 40vw;
    border-radius: 5px;
    border: none;
    background-color: rgb(247, 247, 250);
    color: white;
    font-size: medium;
  }
  textarea {
    
    width: 40vw;
    padding: 2%;
    height: 10vh;
    border-radius: 5px;
    border: none;
    background-color: rgb(245, 245, 248);
    color: white;
    font-size: medium;
  }
  .submit-btn {
    width: 100px;
    height: 50px;
    /* padding: 15 10 0 0; */
    text-align: center; 
    border: 2px solid rgb(245, 245, 77);
    background-color: inherit;
    color: rgb(248, 248, 245);
    font-weight: bolder;
    cursor: pointer;
  }
  .submit-btn:hover {
    background-color: rgb(226, 22, 22);
    border: none;
    color: rgb(247, 246, 246);
  }
  
  label {
    
    font-size: medium;
    color: white;
  }
  .contact-page > h1 {
    color: rgb(250, 250, 247);
  }
  .conatct-page > h1:hover {
    color: white;
  }
  .footer-contact{
    color:white;
  
  }
  @media only screen and (min-width: 325px) and (max-width: 475px) {
    .contact-page > h1 {
      font-size: 36px;
    }
    .submit-btn {
      width: 15vw;
    }
    form > input,
    textarea {
      width: 50vw;
    }
  }