.project-head{
    max-height: 20vh;
  }
  .project-head>h1{
    color:rgb(250, 250, 248);
    font-size: 44px;
  }
  .project-head>h1:hover{
    color:rgb(8, 8, 8);
  }
  .project-head>p>span{
    color:white;
    font-weight: normal;
  }
  .project-head>p{
    font-weight: bold;
  }
  .project-page{
    display: grid;
    height:70vh;
    gap:0.5rem;
    align-items: center;
   
  }
  .project-content{
    display: inline-flex;
  width:300px;
  height:250px;
    overflow: hidden;
   margin: 55px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition:0.5s ease-in-out;
  }
  .project-content>h1{
   font-size: 100%;
   position: relative;
   left: 120px;
  }
  .project-content>img{
    width:50%;
    height:50%; 
    /* position: absolute;
    width:140px;
    height:130px; */
    margin-top: 50px; 
    margin-left: 0px;
   align-items: start;
  }
  .project-content>img:hover{
  
    opacity:0.7;
  }
  
  .btn-site {
    width: 64px;
    color: white;
    background: linear-gradient(90deg, #fed54a, #ff9347);
  } 
  
  .btn-group > a {
    font-size: small;
    padding: 2%;
    font-weight: bolder;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .btn-repo {
    background-color: rgb(37, 35, 35);
    color: white;
  }
  .btn-group > button:hover {
    opacity: 0.7;
  }
  .btn-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.25rem;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
  
  }
  
  a {
    text-decoration: none;
  }
  .project-content:hover {
    cursor: pointer;
    transform: translateY(10px);
  }
  
  
  @media only screen and (min-width:590px) and (max-width:726px){
    .project-content{
      width:80%;
      height:60%;
      padding:4px;
     }
    .btn-group > a {
      font-size: 70%;
    }
    .project-content > h1 {
      font-size: 16px;
      position:relative;
      right:120px;
    }
    .project-content>img{
      width:50%;
      height:50%; 
      margin-top: 50px; 
     align-items: start;
    }
  }
  @media only screen and (min-width: 325px) and (max-width: 589px) {
     
    .project-head>h1{
      color:yellow;
      font-size: 32px;
    }
    .project-page{
      height:70vh;
    }
    .project-content{
      width:70%;
      height:100px;
      padding:4px;
     }
     .btn-group > a {
       font-size: 50%;
     }
     .project-content > h1 {
      font-size: 6px;
      position:relative;
      right:120px;
    }
    .project-content>img{
      /* width:60%;
      height:60%; 
      margin-top: 40px; 
     align-items: start; */
     display:none;
    }
   
  
  } 