header {
    padding: 1.7rem 1rem;
    background-color: rgb(86, 81, 119);
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: auto;
    align-items: center;
    
}

.logo {
   width: 10px;
   height: 10px;
}

.logo a {
    color: #f5f7f8;
    text-decoration: none;
}

nav a {
    color: #e9f0f3;
    text-decoration: none;
    font-size: .97rem;
    font-weight: 600;
    letter-spacing: .7px;
    padding: 1rem;
    padding: 0.4rem 1rem;
}

.top-bar{
    display:flex;
    justify-content:space-between;
    padding: 50px;
}

nav a:hover {
    background-color: #244D61;
    color: #fff;
    border-radius: 1rem;
    transition: all.3s ease-in-out;
}

#click {
    display: none;
}

@media only screen and (max-width:480px) {
    .menu {
        display: block;
        font-size: 1.5rem;
        font-weight: bold;
        color: #244D61;
    }

    header {
        padding: 0.7rem 1rem;
        align-items: center;
        max-width: 100%;
    }

    nav {
        position: absolute;
        display: grid;
        top: 75px;
        width: calc(100% - 40px);
        text-align: center;
        background-color: #fff;
        left: -100%;
    }
    #click:checked~nav {
        left: 0%;
        transition: all 0.3s ease;
    }
}